<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<a href="board">홈</a>

		<h3>게시글 수정</h3>

		<form role="form" th:object=${Board} th:action="@{updateboard2}"
			method="post">

			<table class="table table-striped table-hover">
				<tr>
					<th style = "text-align: center">제목</th>
					<td><input type="text" name="boardtitle"
						th:value="${detail.boardtitle}"></td>
				</tr>
				<tr>
					<td><input type="hidden" name="boardno"
						th:value="${detail.boardno}"></td>
				</tr>
				<tr>
					<th style = "text-align: center">내용</th>
					<td><textarea id="content" name="contentp">[[${detail.contentp}]]</textarea></td>
				</tr>
				<tr>
					<th style = "text-align: center">첨부파일</th>
					<td><input type="file" name="filesrc"
						th:value="${detail.filesrc}"></td>
				</tr>
				<tr>
					<th style = "text-align: center">비밀번호</th>
					<td><input type="password" name="boardpw"
						th:value="${detail.boardpw}"></td>
				</tr>

				<tr>
					<td id="button" colspan="2"><input type="submit"> <input
						type="reset"></td>
				</tr>

			</table>
		</form>
	</div>
</body>
</html>